version: '2'
services:
  db:
    image: rethinkdb:latest
    ports:  
      - "38085:8080"
      - "38015:28015"
      - "39015:29015"
  web:
    image: node:4.3.2    
    volumes:
      - ./src/app:/usr/src/app
    working_dir: /usr/src/app
    command: npm start
    ports:
      - "33001:8080"
      - "5858:5858"

    depends_on:
      - db
